<div
  class="container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <div class="title">
    <h1>MARVEL CHARACTERS</h1>
  </div>
  <div class="character" *ngFor="let character of characters">
    <img
      src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"
      alt=""
    />
    <h2>{{ character.name }}</h2>
    <p>{{ character.description }}</p>
    <span><b>modified: </b>{{ character.modified }}</span>
  </div>
</div>
